<div id="<%= dom_id project %>">
  <p>
    <strong>Name:</strong>
    <%= project.Name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.Description %>
  </p>

  <p>
    <strong>Viewcode:</strong>
    <%= project.ViewCode %>
  </p>

</div>
