<h1>Editing project <%=@project.id%></h1>
<%= render "form", project: @project %>

<div>
  <%= link_to "Show this project", @project, class:"btn btn-info" %>
  <%= link_to "Back to projects", projects_path, class:"btn btn-secondary" %>
</div>
