<h1><%= notice %></h1>

<h1>Projects</h1>

<div id="projects">
  <%if @project %>
  <table>
    <tr>
      <td><strong>Name</strong></td>
      <td><strong>Description</strong></td>
      <td><strong>ViewCode</strong></td>
      <td/>
      <td/>
    </tr>
  <% @projects.each do |project| %>
    <%= render project %>
  <% end %>
  </table>
  <%end%>
</div>

<%= link_to "New project", new_project_path, class:"btn btn-success"  %>
